<template>
  <div class="tasks-list-container tasks-grid-layout margin-top-35">
    <!-- Task -->
    <a class="task-listing" v-for="category in categories" :key="category.name">
      <!-- Job Listing Details -->
      <div class="task-listing-details">
        <!-- Details -->
        <div class="task-listing-description">
          <h3 class="task-listing-title">{{ category.name }}</h3>
          <ul class="task-icons">
            <li>{{ category.description }}</li>
          </ul>
        </div>
      </div>

      <div class="task-listing-bid">
        <div class="task-listing-bid-inner">
          <span class="button button-sliding-icon ripple-effect"
            >GO <i class="icon-material-outline-arrow-right-alt"></i
          ></span>
        </div>
      </div>
    </a>
  </div>
</template>
<script>
export default {
    data(){
        return{
            categories: [
                {
                    name: 'Small Move',
                    description: 'Description'
                },
                 {
                    name: 'large Move',
                    description: 'Description'
                },
                 {
                    name: 'Extra large Move',
                    description: 'Description'
                }
            ]
        }
    }
}
</script>
