<template>
  <div>
      <div class="dashboard-box margin-top-0">

    <div class="content with-padding">
        <div class="row">
            <div class="col-md-8">

                <div class="submit-field submit-field-margin-bottom-0">
                    <input type="text" class="with-border" value="Large Move"  readonly>
                </div>

            </div>
            <div class="col-md-4">
                <button class="button ripple-effect full-btn-width" type="button" >Change</button>
            </div>
        </div>
    </div>

</div>

<div class="dashboard-box margin-top-20">

    <div class="content with-padding padding-bottom-10">

        <div class="row">
            <div class="col-md-12">
                <div class="submit-field">
                    <h5>Pickup address</h5>
                    <input type="text" id="origin-input" class="with-border" placeholder="Enter pickup address" >
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="submit-field">
                    <h5>Destination</h5>
                    <input type="text" id="destination-input" class="with-border" placeholder="Enter Destination" >
                </div>
            </div>
        </div>

        <div class="lugger-categories" >
            <div class="row" v-for="(truckDetail, index) of trucks" :key="index">
                <div class="col-md-12">

                    <div class="sidebar-container">

                        <div class="sidebar-widget">
                            <div class="bidding-widget">

                                <div class="bidding-inner">

                                    <div class="row">

                                        <div class="col-md-3">
                                            <img width="135px;" class="img-responsive" src="">
                                        </div>

                                        <div class="col-md-5">
                                            <!-- Headline -->
                                            <span class="bidding-detail">
                                                <strong>{{truckDetail.name  }} </strong>
                                            </span>
                                            <p class="margin-bottom-0"> $ {{truckDetail.per_mile_price}} per mile price
                                            </p>
                                            <span class="bidding-detail">
                                                <strong>$ {{truckDetail.charges }} </strong>
                                            </span>
                                        </div>

                                        <div class="col-md-4">
                                            <button class="button ripple-effect full-btn-width"  type="button">Learn More</button>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>



        </div>

    </div>
</div>
  </div>
</template>

<script>
export default {
    data() {
        return {
            trucks: [
                {
                    name: 'Large Truck',
                    img: '',
                    per_mile_price: '10',
                    charges: 123
                },
                {
                    name: 'Large Truck',
                    img: '',
                    per_mile_price: '10',
                    charges: 123
                },
                {
                    name: 'Large Truck',
                    img: '',
                    per_mile_price: '10',
                    charges: 123
                },
            ]
        }
    },
}
</script>

<style>

</style>